@page
@model IndexModel
@{
    ViewData["Title"] = "The Home for this website";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Welcome to this page</h1>
    <p class="lead">The page is being active since @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>

</div>
